body
{
background:url(images/bg.jpg) repeat-x top #fff;
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0px auto auto auto;
color:#656565;
}

.clear{
clear:both;
}

p{
padding:5px 0 5px 0;
margin:0px;
text-align:justify;
line-height:20px;
}

.wrap{
width:960px;
margin:auto;
background:url(images/top_bg.jpg) no-repeat center top;
}
.logo{
padding:27px 0 0 25px;
float:left;
}
/*-----------------------------menu-------------------*/
#menu{
width:550px;
clear:both;
float:left;
padding:69px 0 0 30px;
margin:0px;
}
#menu ul{
display:block;
list-style:none;
margin:0px;
padding:0px;
}
#menu ul li{
display:inline;
padding:0px;
margin:0px;
}
#menu ul li a{
display:block;
padding:0px 0 15px 0;
margin:0px 22px 0 0;
float:left;
text-decoration:none;
color:color: #1BE3D9;;
font-size:12px;
}
#menu ul li.selected a{
display:block;
padding:0px 0 15px 0;
margin:0px 22px 0 0;
float:left;
text-decoration:none;
color:#07F1BB;
font-size:12px;
background:url(images/menu_bullet.gif) no-repeat center bottom;
}
#menu ul li a:hover{
background:url(images/menu_bullet.gif) no-repeat center bottom;
}
/*--------------block-----------------*/
.books_story{
width:550px;
height:256px;
padding:10px 0 0 30px;
float:left;
color: #742D87;
}
.invest_story{
width:550px;
height:256px;
padding:10px 0 0 30px;
float:left;
color: #1BE3D9;
}
.books_icon{
float:right;
padding:100px 35px 0 0;
_padding:100px 35px 0 0;
margin: 0 0 1em 1em;
}
.invest_icon{
float:right;
padding:100px 35px 0 0;
_padding:100px 35px 0 0;
}
